.game-board {
    margin-top: 28px;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(10, 20px);
    gap: 1px;
    background-color: #b9b9b9;
    width: 209px;
    height: 419px;
  }
  
  .row {
    display: contents;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: #e9e9e9;
  }
  
  .filled {
    background-color: #6d6d6d;
    border: 1px solid white;
  }

  .game-controls {
    margin-bottom: 10px;
  }
  
  .game-controls button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  